<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit your Costume</title>
</head>
<body>
    <h1>Submit your Costume</h1>
    <form action="{% url 'costumes_submission_page' %}" method="post">
        {% csrf_token %}
        <label for="costume_name">Costume Name:</label>
        <input type="text" id="costume_name" name="costume_name" required>
        <br>
        <label for="costume_description">Costume Description:</label>
        <textarea id="costume_description" name="costume_description" required></textarea>
        <br>
        <label for="images">Your Photo</label>
        <input type="file" id="images" name="images" accept="image/*" required>
        <br>
        <button type="submit">Submit</button>
    </form>

    <script>
        console.log("Costume submission page loaded.");
    </script>
</body>
</html>