{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="login-container" style="margin-top: 50px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1>{% trans "Sign In" %}</h1>

    <p>
        {% blocktrans %}If you have not created an account yet, please 
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>

    <form class="login-form" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        
        {{ form.as_p }} 

        <div class="login-extras">
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
                {% trans "Forgot Password?" %}
            </a>
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        
        <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
</div>
{% endblock %}