h1 {
    margin-top: 50px;
}

.costume-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.costume-entry {
    border: 1px solid green;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: black;
    width: 350px;
    height: 500px;
    box-shadow: inset 0 0 10px green;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.costume-entry h4 {
    margin-top: 0;
    color: green;
}

.costume-entry img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 5px;
}