/*CSS Variables*/
:root {
  --primary-font: "Nosifer", serif; /* headings */
  --secondary-font: "Road Rage", sans-serif; /* body text */
  --primary-color: #a91618;
  /* Dark Red */
  --secondary-color: #bfb5b3;
  /* Nobel */
  --orange: #ff4500;
  /* Orange */
  --green: #18A916;
  /* Green */
  --black: #000000;
  --white: #f7f5f2;
}

h1 {
    margin-top: 50px;
    
}

.costume-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.costume-entry {
    border: 1px solid var(--green);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: var(--black);
    width: 300px;
    height: 500px;
    box-shadow: inset 0 0 10px var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.costume-entry h4 {
    margin-top: 0;
    color: var(--green);
}

.costume-entry img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 5px;
}

a:hover {
    color: var(--green);
}