/*CSS Variables*/
:root {
  --primary-font: "Nosifer", serif; /* headings */
  --secondary-font: "Road Rage", sans-serif; /* body text */
  --primary-color: #a91618;
  /* Dark Red */
  --secondary-color: #bfb5b3;
  /* Nobel */
  --orange: #ff4500;
  /* Orange */
  --green: #18A916;
  /* Green */
  --black: #000000;
  --white: #f7f5f2;
}

h1 {
    margin-top: 50px;
    color: var(--green);
}

.btn-success{
    background-color: var(--green);
}

.btn-success:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.costume-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.costume-entry {
    border: 1px solid var(--green);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: var(--black);
    width: 300px;
    height: 500px;
    box-shadow: inset 0 0 10px var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.costume-entry h4 {
    margin-top: 0;
    color: var(--green);
}

.costume-entry img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 5px;
}

a:hover {
    color: var(--green);
}

#costume-data {
    font-size: 1.2rem;
}

.footer-link:hover, .footer-title {
    color: var(--green);
}


/* comment modal */
.comment-modal {
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--green);
}

.comment-modal-content {
    padding: 20px;
}

.comments-section {
    max-height: 300px;
    overflow-y: auto;
}

#comment-form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

}

#comment-text {
    resize: none;
    height: 100px;
    padding: 10px;
    background-color: #1e1e1e;
    border: 1px solid var(--green);
    color: var(--green);
    box-shadow: inset 0 0 5px var(--green);
}

/* remove browser's blue focus ring */
input:focus, textarea:focus {
    outline: none;
    box-shadow: none;
    box-shadow: inset 0 0 10px var(--orange);
}

.hide {
    display: none;
}

#submit-comment-button {
    margin-top: 10px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#submit-comment-button:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    z-index: 1000;
}

.timestamp {
    font-size: 16px;
    color: var(--secondary-color);
}

#comment-user {
    color: var(--green);
}

.close-button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 5px 15px;
    border-radius: 50%;
    cursor: pointer;
}