/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nosifer&family=Road+Rage&family=Shadows+Into+Light&display=swap');

/*CSS Variables*/
:root {
  --primary-font: "Nosifer", serif; /* headings */
  --secondary-font: "Road Rage", sans-serif; /* body text */

  --primary-color: #a91618;
  /* Dark Red */
  --secondary-color: #bfb5b3;
  /* Nobel */
  --black: #000000;
  --white: #f7f5f2;
}

body {
  color: var(--white);
  font-family: var(--primary-font);
  padding-top: 50px; /*Added for nav bar space to not overlap as it is now fixed top*/
  background-color: var(--black);
  max-width: 2000px;
  margin: 0px auto;
}

h2 {
    color: var(--primary-color);
}

p, a {
  font-family: var(--secondary-font);
    color: var(--secondary-color);
  font-size: 1.6rem;
}

#index-header {
  position: relative;
  background: url("../images/silhouette-scary-zombie-with-dramatic-background.64e691950a33.jpg")
              no-repeat fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: 42px;
  overflow: hidden;
}

/* Fade overlay */
#index-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%; 
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  pointer-events: none; /* lets you click through */
}

/* Navbar */
.navbar {
  background-color: var(--black) !important;
  z-index: 999;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
